#admin-modal {
  max-width: 500px;

  .guests {
    > ul {
      padding: 1rem;
    }

    > ul > li > ul {
      padding: 1rem 1rem 1rem .5rem;
    }

    .level {
      margin-bottom: 0;
    }

    .level-right {
      margin-right: 1rem;
    }

    .group-title {
      display: flex;
      align-items: center;

      .title {
        color: $teal;
        margin: 0;
      }

      .menu-label {
        background-color: $light;
        line-height: 1;
        padding: .25rem;
        margin: 0 0 0 .5rem;
        border-radius: $radius;
      }
    }
  }

  .details {
    padding: 1rem;

    > .columns > .column:first-child {
      color: $teal;
      font-weight: 600;
      text-transform: uppercase;

      .fa {
        color: $cheesecake;
        text-align: center;
        width: 20px;
        margin-right: .75rem;       
      }
    }

    > .columns > .column:last-child {
      word-break: break-all;

      @media (max-width: 768px) {
        padding-left: 2.75rem;
      }
    }
  }

  .registry {
    > div > .columns {
      background-color: $light;
      margin: 1rem 1rem .5rem;
      padding: .5rem;
      border-radius: $radius;

      @media (max-width: 768px) {
        max-width: 430px;
        margin: 2rem auto .5rem;
      }
    }

    > div > .columns > .column:first-child {
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 768px) {
        padding: 2rem 2rem 1rem;
      }
    }

    > div > .columns > .column:last-child {     
      display: flex;
      align-items: center;

      li {
        word-break: break-all;
        text-indent: -1.5rem;
        margin-left: 2.5rem;
      }

      .fa {
        color: $cheesecake;
        text-align: center;
        width: 20px;
        margin-right: .25rem;       
      }

      a {
        color: $text;
      }
    }

    img {
      width: auto;
      max-height: 70px;

      @media (max-width: 768px) {
        max-height: 150px;
      }
    }

    .buttons {
      margin: 0 1rem;
    }
  }
}