#admin-modal {
  max-width: 500px;

  .guests {
    > .buttons {
      margin-bottom: 0;
    }

    > ul {
      padding: 1rem;

      > li:last-child > ul {
        padding-bottom: 0;
      }
    }

    > ul > li > ul {
      padding: 1rem 1rem 1rem .5rem;
    }

    .group-title-container {
      display: flex;
      align-items: center;
      min-height: 2rem;
    }

    .level {
      width: 100%;
      margin-bottom: 0;
    }

    .level-right {
      margin-right: 1rem;
    }

    .group-title {
      display: flex;
      align-items: center;

      .title {
        color: $teal;
        margin: 0;
      }

      .menu-label {
        background-color: $light;
        line-height: 1;
        padding: .25rem;
        margin: 0 0 0 .5rem;
        border-radius: $radius;
      }
    }

    .add-group {
      background-color: $light;
      padding: 1rem;
      margin: 0 1.5rem 1rem;
      border-radius: $radius;    
    }

    .edit-group {
      width: 100%;
      margin-right: 1rem;
    }

    .group-limit {
      text-align: center;
      width: 50px;
    }
  }

  .details {
    padding: 1rem;

    > .columns > .column {
      display: flex;
      align-items: center;
      min-height: 3rem;
      padding: 0 .75rem;

      .field {
        width: 100%;
      }
    }

    > .columns > .column:first-child {
      color: $teal;
      font-weight: 600;
      text-transform: uppercase;

      .fa {
        color: $cheesecake;
        text-align: center;
        width: 20px;
        margin-right: .75rem;       
      }
    }

    > .columns > .column:last-child {
      word-break: break-all;

      @media (max-width: 768px) {
        padding-left: 2.75rem;
      }
    }
  }

  .registries {
    form > .columns, .add-registry {
      background-color: $light;
      margin: 1rem 1rem .5rem;
      padding: .5rem;
      border-radius: $radius;

      @media (max-width: 768px) {
        max-width: 430px;
        margin: 2rem auto .5rem;
      }
    }

    .add-registry {
      padding: 1rem 1.5rem 1.5rem;
    }

    .edit-registry ul, .edit-registry .field {
      width: 100%;
    }

    form > .columns > .column:first-child {
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 768px) {
        padding: 2rem 2rem 1rem;
      }
    }

    form > .columns > .column:last-child {     
      display: flex;
      align-items: center;

      li {
        word-break: break-all;
        display: flex;
        align-items: center;
        min-height: 2rem;
      }

      .fa {
        color: $cheesecake;
        text-align: center;
        width: 20px;
        margin-right: 1rem;  
      }

      a {
        color: $text;
      }
    }

    img {
      width: auto;
      max-height: 70px;

      @media (max-width: 768px) {
        max-height: 150px;
      }
    }

    .buttons {
      margin: 0 1rem;
    }
  }
}