#header {
  color: $white;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  padding: 0 1.5rem;

  .pointer {
    color: $primary;
  }

  .pointer:hover {
    color: $crust;
  }

  .fa {
    margin-left: 1rem;
  }
}