#main {
  .logo {
    max-width: 500px;
    margin: auto;
  }

  .subtitle {
    color: $white;
    text-transform: uppercase;
    letter-spacing: 1px;
    max-width: 375px;
    margin: 2rem auto;
  }

  strong {
    color: $cerulean;
  }
}