// TABS
$tabs-link-color: $grey;
$tabs-link-hover-color: $cheesecake;
$tabs-link-hover-border-bottom-color: $cheesecake;
$tabs-link-active-color: $navy;
$tabs-link-active-border-bottom-color: $navy;

// CARD
$card-shadow: 0 2px 5px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1);