html {
  overflow-y: auto;
}

body {
  background: $turquoise url(../assets/adventure-bg.jpg) no-repeat center/cover; 
  min-height: 100vh;
}

.button {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid transparent;
  border-image: url(../assets/adventure-link.jpg) 30;
  padding: 1rem 1.5rem;

  &.is-primary.is-outlined:hover {
    color: $turquoise;
    background: $primary url(../assets/adventure-link.jpg) no-repeat center/cover;
  }
}