html {
  overflow-y: auto;
}

body {
  background: $turquoise url(../assets/adventure-bg.jpg) no-repeat center/cover; 
  min-height: 100vh;
}

.button.is-primary.is-outlined {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid transparent;
  border-image: url(../assets/adventure-link.jpg) 30;
  border-radius: 0;
  padding: 1rem 1.5rem;

  &:hover {
    color: $turquoise;
    background: $primary url(../assets/adventure-link.jpg) no-repeat center/cover;
  }
}

.input {
  height: inherit;
  border: 0;
  border-bottom: 2px solid $teal;
  border-radius: 0;
  box-shadow: none;

  &:hover {
    border-color: $crust;
  }

  &:focus {
    box-shadow: none;
  }
}