#main, #invitation {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
  padding: 1.5rem;
}

.delete-modal {
  max-width: 450px;

  .buttons {
    justify-content: center;
    margin-top: 1.5rem;
  }
}