#main, #invitation {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
  padding: 1.5rem;
}

.delete-modal {
  max-width: 450px;

  .box {
    padding: 2rem;
  }

  .buttons {
    justify-content: center;
    margin-top: 1rem !important;
  }
}

.confirmation-modal {
  .title {
    text-transform: uppercase;
    margin-bottom: .5rem;
  }

  ul {
    margin-top: .5rem;
  }
}

.tabs li span {   
  color: $tabs-link-color;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  padding: 0.5em 1em;
  margin-bottom: -1px;
  border-bottom: 1px solid $tabs-border-bottom-color;
  cursor: pointer;
  transition: 300ms all ease;

  &:hover {
    color: $tabs-link-hover-color;
    border-bottom-color: $tabs-link-hover-border-bottom-color;
  }
}

.tabs li.is-active span {
  color: $tabs-link-active-color;
  border-bottom-color: $tabs-link-active-border-bottom-color;
}


iframe {
  display: block;
  width: 100%;
  height: 275px;
  border: 3px solid $white;
  outline: 1px solid $light;
}

.buttons {
  &.is-left {
    justify-content: flex-start;
  }

  &.is-centered {
    justify-content: center;
  }

  &.is-right {
    justify-content: flex-end;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;

  &:first-child {
    margin-right: 1rem;
    width: 26px;
  }

  &:last-child {
    margin-left: 1rem;
    width: 65px;
  }
  
  .buttons {
    margin-bottom: 0;
  }

  .pointer {
    background-color: transparent;
    color: $cheesecake;
    font-size: 1rem;
    display: inline-block;
    border: 0;
    padding: 0;
    margin: 0 .25rem;
    transition: 300ms all ease;

    &:hover {
      color: $crust;
    }
  }

  .pointer.is-danger {
    color: $red;

    &:hover {
      color: darken($red, 10%);
    }
  }

  .far.fa-star {
    font-weight: 400;
  }
}