#header {
  color: $white;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  padding: 0 1.5rem;

  .pointer {
    color: $primary;
  }

  .pointer:hover {
    color: $crust;
  }

  .fa {
    margin-left: 1rem;
  }
}

#main, #invitation {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
  padding: 1.5rem;
}

#main {
  .logo {
    max-width: 500px;
    margin: auto;
  }

  .subtitle {
    color: $white;
    text-transform: uppercase;
    letter-spacing: 1px;
    max-width: 375px;
    margin: 2rem auto;
  }

  strong {
    color: $cerulean;
  }
}

#invitation {
  .invite {
    background: $turquoise url(../assets/adventure-bg2.jpg) no-repeat center/cover;
    width: 400px;
    height: 500px;
    margin-right: -3rem;
    border: 10px solid transparent;
    border-image: url(../assets/adventure-link.jpg) 30;
    transform: rotate(-5deg);
    z-index: 2;

    .card-content {
      padding: 3rem;
    }

    .logo {
      max-width: 300px;
      margin: auto;
    }

    .messaging {
      color: $white;
      margin: 2rem auto;

      .intro {
        font-size: 1.2rem;
      }

      strong {
        color: $cerulean;
        text-transform: uppercase;
      }

      .title {
        background: $turquoise url(../assets/adventure-link.jpg) no-repeat center/cover;
        color: $navy;
        text-transform: uppercase;
        display: inline-block;
        margin: 1.25rem 0 3rem;
        padding: .5rem 1rem;
      }

      .fa {
        color: $teal;
        font-size: 1rem;
        margin: 0 .5rem;
      }
    }    
  }

  .envelope {
    background: radial-gradient(top left, #12342E, #022735);
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    margin: .5rem;

    li {
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;

      &.guest {
        color: $cerulean;
        font-size: .8rem;
        margin-top: .5rem;
      }
    }
  }

  .buttons {
    justify-content: flex-end;

    .button {
      margin: .5rem;
    }
  }
}

#details-modal {
  width: 100%;
  max-width: 800px;

  .details-container {
    padding-top: 1px;
    min-height: 300px;
  }

  .tabs li span {   
    color: $tabs-link-color;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    padding: 0.5em 1em;
    margin-bottom: -1px;
    border-bottom: 1px solid $tabs-border-bottom-color;
    cursor: pointer;

    &:hover {
      color: $tabs-link-hover-color;
      border-bottom-color: $tabs-link-hover-border-bottom-color;
    }
  }

  .tabs li.is-active span {
    color: $tabs-link-active-color;
    border-bottom-color: $tabs-link-active-border-bottom-color;
  }

  iframe {
    display: block;
    width: 100%;
    height: 275px;
    border: 3px solid $white;
    outline: 1px solid $light;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    li {
      margin: .5rem 0;
    }

    .fa {
      color: $primary;
      text-align: center;
      display: inline-block;
      width: 25px;
      margin-right: .5rem;
    }

    .footnote {
      color: $grey-light;
      font-size: .8rem;
    }

    strong {
      color: $teal;
      font-weight: 400;
    }
  }

  .requests {
    padding: 2rem 1rem;

    >.column {
      text-align: center;
      padding: 1rem;
    }

    .fa {
      color: $cheesecake;
      font-size: 5rem;
      text-align: center;
    }

    p {
      margin-top: 1.5rem;
    }

    strong {
      color: $teal;
      text-transform: uppercase;
    }
  }

  .registry {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;

    >.column {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    figure img {
      max-height: 200px;
      width: auto;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

#rsvp-modal {
  max-width: 400px;

  .box {
    padding: 2rem;
  }

  .level {
    align-items: flex-start;

    .button {
      margin: .25rem;
    }
  }

  .title {
    color: $teal;
  }

  .subtitle {
    text-transform: uppercase;
  }

  li {
    line-height: 1;
    display: flex;
    align-items: center;
    height: 2rem;
    margin: .5rem 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .field.is-horizontal {
      margin-left: .5rem;
    }
  }

  .guest-info {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .fa {
      color: $grey-lighter;
      margin: 0 .5rem;
    }
  }

  .guest-actions {
    display: flex;
    justify-content: flex-end;
    margin-left: 1rem;
    width: 65px;

    .buttons {
      margin-bottom: 0;
    }

    .pointer {
      color: $primary;
      font-size: 1rem;
      display: inline-block;
      border: 0;
      padding: 0;
      margin: 0 .25rem;

      &:hover {
        color: $crust;
      }
    }
  }
}

// can still update guest with same name   -- backend
// edit form styles     -- css
// style login modal    -- css
// sometimes checking guest box does not register    -- react state