// FONTS
$family-sans-serif: "Signika", serif;

// COLORS
$cheesecake: #f3c85f;
$crust: #d8a32f;
$cerulean: #95e9da;
$teal: #337d70;
$turquoise: #216055;
$navy: #012f41;

$green: #83bf8a;
$yellow: #ebcd6f;
$red: #d66667;

$primary: $cheesecake;
$link: $primary;